div.right div.connections {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  gap: 20px;
}

div.right div.connections p {
  margin: 0;
}

div.right div.connections div.items {
  display: flex;
  align-items: center;
  gap: 30px;
}

div.right div.connections div.items a {
  text-decoration: none;
  transition: opacity 0.3s, scale 0.3s;
}

div.right div.connections div.items:hover:has(:hover) a:not(:hover) {
  opacity: 0.5;
  scale: 0.85;
}

div.right div.connections div.items a:hover {
  scale: 1.2;
}

div.right div.connections div.items a img {
  width: 35px;
  max-height: 35px;
}

@media screen and (max-width: 1000px) {
  div.right div.connections {
    height: 0 !important;
    padding: 0 !important;
  }

  div.right div.connections div.items {
    display: flex;
    grid-template-columns: repeat(2, 35px);
    gap: 0 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 50px;
    background-color: #272727;
  }

  div.right div.connections div.items a img {
    width: 24px;
  }
}
